<h1>Editing tribe</h1>

<% form_for([:asset_manager, @tribe]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', asset_manager_tribe_path(@tribe) %> |
<%= link_to 'Back', asset_manager_tribes_path %>