<p> Create a New Contract </p>
<% form_for [:asset_manager, @contract] do |f| -%>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :contract %><br />
    <%= f.text_area :content %>
  </p>
  <%= f.submit "Create" %>
<% end -%>
