<h1>Listing stage_items</h1>

<table>
  <tr>
    <th>Asset</th>
    <th>Stage</th>
  </tr>

<% @stage_items.each do |stage_item| %>
  <tr>
    <td><%=h stage_item.asset_id %></td>
    <td><%=h stage_item.stage_id %></td>
    <td><%= link_to 'Show', stage_item %></td>
    <td><%= link_to 'Edit', edit_stage_item_path(stage_item) %></td>
    <td><%= link_to 'Destroy', stage_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New stage_item', new_stage_item_path %>