<% title "Editing caption" %>

<% form_for([:asset_manager, @caption]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :content %>
  </p>
  <p>
  
  
        <div class="formRow">
    <span class="labelCol"><%= f.label :language %></span>
    <%= f.collection_select :language_id, Language.find(:all), :id, :language, :input_blank => false %>
   </div>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', asset_manager_caption_path(@caption), :class => "lightBlue" %> |
<%= link_to 'Back',  asset_manager_asset_path(@caption.asset_id), :class => "lightBlue" %>
