<% title "Editing caption" %>

<% form_for([:asset_manager, @caption]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </p>
  <p>

    <%= f.label :language %><br />
   <select name="caption[language_id]">
<% @languages.each do |language| %>
<option value="<%= language.id %>"
<%= ' selected' if language.id == @caption.language_id %>>
<%= language.language %>
</option>
<% end %>
</select>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', asset_manager_caption_path(@caption) %> |
<%= link_to 'Back',  asset_manager_asset_captions_path(@caption.asset_id) %>