<% title "Listing captions for #{@asset.title}" %> 

<table>
  <tr>
    <th>Caption</th>
    <th>Asset</th>
    <th>Language</th>
  </tr>

<% @captions.each do |caption| %>
  <tr>
    <td><%=h caption.caption %></td>
    <td><%=h caption.asset_id %></td>
    <td><%=h caption.language.language %></td>
    <td><%= link_to 'Show', asset_manager_caption_path(caption) %></td>
    <td><%= link_to 'Edit', edit_asset_manager_caption_path(caption) %></td>
    <td><%= link_to 'Destroy', asset_manager_caption_path(caption), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New caption', new_asset_manager_asset_caption_path %>
<%= link_to 'Back', asset_manager_asset_path(params[:asset_id]) %>