<% title "New caption for #{@asset.title}" %> 

<% form_for([:asset_manager, @caption], :url => asset_manager_asset_captions_path(@asset)) do |f| %>

  <%= f.error_messages %>

  <div class="formRow">
    <span class="labelCol"><%= f.label :caption %></span>
    <%= f.text_field :content %>
  </div>

   <div class="formRow">
    <span class="labelCol"><%= f.label :language %></span>
    <%= f.collection_select :language_id, Language.find(:all), :id, :language, :input_blank => false %>
   </div>
  
  <div class="formRow">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', asset_manager_asset_captions_path(@asset), :class => "lightBlue" %>
