<% title "New caption for #{@asset.title}" %> 

<% form_for([:asset_manager, @caption]) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </p>
  <p>
    <%= hidden_field_tag (:asset_id, @asset.id) %>
  </p>
  <p>
    <%= f.label :language %><br />
    <select name="caption[language_id]">
<% @languages.each do |language| %>
<option value="<%= language.id %>"
<%= ' selected' if language.id == @caption.language_id %>>
<%= language.language %>
</option>
<% end %>
</select>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', asset_manager_asset_captions_path(@asset) %>