<p>
  <b>Caption:</b>
  <%=h @caption.caption %>
</p>

<p>
  <b>Asset:</b>
  <%=h @caption.asset %>
</p>

<p>
  <b>Language:</b>
  <%=h @caption.language %>
</p>


<%= link_to 'Edit', edit_asset_manager_caption_path(@caption) %> |
<%= link_to 'Back', asset_manager_captions_path(@caption) %>