<html>
<head>
<title> Register Form</title>
<%= stylesheet_link_tag 'generallayout' %>
</head>


<body>
<div class="form">
<% form_for @user do |f| %>
  <%= f.error_messages %>
  <p>Please fill in your details to register for an account</p>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p><%= f.submit "Submit" %></p>
  <%= link_to 'Home', root_url %>
  
<% end %>
</div>

</body>
</html>