<h1>Listing countries</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @countries.each do |country| %>
  <tr>
    <td><%=h country.name %></td>
    <td><%= link_to 'Edit', edit_asset_manager_country_path(country), :class => "lightBlue" %></td>
    <td><%= link_to 'Destroy', asset_manager_country_path(country), :confirm => 'Are you sure?', :method => :delete, :class => "lightBlue" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New country', new_asset_manager_country_path(@country) %> &nbsp;|
<%= link_to 'Assets Homepage', asset_manager_assets_path(@asset) %>
