<% title "Editing credit" %>

<% form_for([:asset_manager, @credit], :url => asset_manager_asset_credit_path(@asset, @credit), :method => :post) do |f| %>
  <%= f.error_messages %>
  <div class="formRow">
    <span class="labelCol"><%= f.label :credit %></span>
    <%= f.text_field :content %>
  </div>
  
    <div class="formRow">
    <span class="labelCol"><%= f.label :language %></span>
    <%= f.collection_select :language_id, Language.find(:all), :id, :language, :input_blank => false %>
   </div>
   
  <div class="formRow">
    <span class="labelCol"><%= f.submit 'Update' %></span>
  </div>
<% end %>

<%= link_to 'Back', asset_manager_asset_credits_path(@asset), :class => "lightBlue" %>
