<% title "Listing credits for #{@asset.title}" %> 

<table>
  <tr>
    <th>Credit</th>
    <th>Language</th>
  </tr>

<% @credits.each do |credit| %>
  <tr>
    <td><%=h credit.content %></td>
    <td><%=h credit.language.language %></td>
    <td><%= link_to 'Edit', edit_asset_manager_asset_credit_path(params[:asset_id],credit), :class => "lightBlue" %></td>
    <td><%= link_to 'Delete', asset_manager_asset_credit_path(params[:asset_id], credit), :confirm => 'Are you sure?', :method => :delete, :class => "lightBlue" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New credit', new_asset_manager_asset_credit_path, :class => "lightBlue" %>
<%= link_to 'Back', asset_manager_asset_path(params[:asset_id]), :class => "lightBlue" %>
