<% title "Image Gallery" %>
<div>
  <% form_tag 'gallery', :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
<div id="gallery_container">
  <div id="image_gallery">
    <% @assets.each do |asset| %>
      <div class="thumbnail">
        <%= link_to image_tag(asset.data.url(:thumb)), asset %><br/>
        <%= link_to asset.title, asset %>
        <%= button_to 'Add to Stage', stage_items_path(:asset_id => asset) %>
      </div>
    <% end %>
  </div>
</div>
<div class="clear">
  <div>
    <%= will_paginate @assets %>
  </div>
  <%= link_to "Create new asset", :action => "new" %> | <%= link_to 'Back', assets_path %>
</div>






