<html> 
  <head>
    <title>Image Gallery</title>
  </head>
  <body>
   
  <h1>Gallery</h1>
  
  <% form_tag assets_path, :method => 'get' do %> 
 <p> 
<%= text_field_tag :search, params[:search] %>
 <%= submit_tag "Search", :name => nil %>
 </p> 
<% end %> 
  
  <table border="0">
  <tr>
  <td width="80%"><p align="center"><i><b>Asset</b></i></td> 
  </tr>
    
  <% @assets.each do |asset| %>
  <tr>
  <td>
  <%= image_tag asset.file.url(:thumb) %>
  <br/>
  <%= link_to asset.title, asset %>
</p>
    </td>
 
 
  </tr>
  <% end %> 
  </table>
<%= will_paginate @assets %>

  <p><%= link_to "Create new asset", :action => "new" %> | <%= link_to 'Back', assets_path %> </p>

  </body> 
</html>





