<% title "Image Gallery" %>
<div>
  <% form_tag 'gallery', :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
<div id="image_gallery">
  <% @assets.each do |asset| %>
    <div class="thumbnail">
      <%= image_tag asset.file.url(:thumb) %><br />
      <%= link_to asset.title, asset %>
    </div>
  <% end %>
</div>
<div class="clear">
  <div>
    <%= will_paginate @assets %>
  </div>
  <%= link_to "Create new asset", :action => "new" %> | <%= link_to 'Back', assets_path %>
</div>






