<% title "Home Page" %>
<h2>Welcome To Your Asset Archive</h2>
<p> In your asset archive, you can edit and delete your current assets as well as add new ones. </p>
<p> You can also search through your archive by entering search criteria in the box below </p>

<div class="search">
<% form_tag assets_path, :method => 'get' do %> 
<%= text_field_tag :search, params[:search] %>
 <%= submit_tag "Search", :name => nil %> 
</div>
<% end %>
<table>
  <tr>
    <th>Your Assets:</th>
  </tr>

<% @assets.each do |asset| %>
  <tr>
    <td><%=h asset.title %></td>
    <td><%= link_to 'Show', asset %></td>
    <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
    <td><%= link_to 'Destroy', asset, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= button_to 'Add to Stage', albums_path(:asset_id => asset) %></td>
  </tr>
<% end %>
</table>

<div class="will_paginate_assetslist">
<%= will_paginate @assets %>
</div>

<h2> Add A New Asset </h2>
<div class="assetslink">
<%= link_to 'New asset', new_asset_path %> </div>
<h2> View All Images </h2>
<div class="assetslink">
<%= link_to "View Gallery", :action => "gallery" %>
<h2> View List of Albums</h2>
<%= link_to "View Albums", albums_path %>
<h2> Drop Down of albums </h2>
<%= select(:album_id, :title, @albums.collect {|s|[s.title, s.id]}) %>

</div>