<h1>Upload asset</h1>

<% form_for(@asset, :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :upload %><br />
    <%= f.file_field :file %>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', assets_path %>