<html>
<head>
<title>Search results
</title>
<style>
 a {font-family: serif; color:#000000; }
</style>
</head>
<body>
<h1>Search Results</h1>
 
<div id ="imagegallery">
<p>    
  <% @assets.each do |asset| %>
  <div id="image">
  <%= image_tag asset.file.url(:thumb) %>
  <p align="center"><%= link_to asset.title, asset %></p>
  </div>

  <% end %>
</div>
<div id="will_paginate">
<div class="align-right"><%= link_to "Create new asset", :action => "new" %> | <%= link_to 'Back', assets_path %>
<p/>
<%= will_paginate @assets %>
</div>
</div>
  

  </body> 
</html>