<% title @asset.title %>
 <div id="pic">
     <%= image_tag @asset.data.url(:large) %>
 </div>
 <div id="details">

   <span style="color:brown"><strong>Title:</strong></span> <%=h @asset.title %><br /><br />
   <span style="color:brown"><strong>File Name:</strong></span> <%=h @asset.data_file_name %><br /><br />
   <span style="color:brown"><strong>File Type: </strong></span><%=h @asset.data_content_type %><br /><br />
   <span style="color:brown"><strong>Date Created: </strong></span><%=h @asset.created_at %> <br /><br />
   <span style="color:brown"><strong>Last Updated Date:</strong></span> <%=h @asset.updated_at %><br /> <br />
   <% if @asset.exif? %>
      <span style="color:brown"><strong>Camera Model:</strong></span> <%= @asset.exif.camera_model %><br /><br />
   <% end %>
 </div>

 <div id="buttons">

   <%= link_to 'Edit', edit_asset_path(@asset) %> |
   <%= link_to 'Back', assets_path %>
 </div>

