<% title "Viewing Stage #{@stage.title}" %>

<% for item in @stages.stage_items %>
<p> <%= link_to image_tag(asset.data.url(:thumb)), asset %></p>
<p> <%= asset.title %></p>
<p> <%= button_to 'Delete From Stage', item , :confirm => 'Are you sure?', :method => :delete %></p>
<% end %>



<%= link_to 'Edit This Stage', edit_stage_path(@stage) %> |
<%= link_to 'View All Stages', stages_path %>