<% title 'List of Stages' %>

<table>
  <tr>
  </tr>

<% @stages.each do |stage| %>
  <tr>
    <td><%=h stage.id %></td>
    <td><%=h stage.title %></td>
    <% permitted_to? :show, :asset_manager_stages do %>
      <td><%= link_to 'View', asset_manager_stage_path(stage), :class => "lightBlue" %></td>
    <% end %>
    <% permitted_to? :edit, :asset_manager_stages do %>
      <td><%= link_to 'Edit', edit_asset_manager_stage_path(stage), :class => "lightBlue" %></td>
    <% end %>
    <% permitted_to? :manage_users, :asset_manager_stages do %>
      <td><%= link_to 'Manage Users', manage_users_asset_manager_stage_path(stage), :class => "lightBlue" %>
    <% end %>
    <% permitted_to? :destroy, :asset_manager_stages do %>
      <td><%= link_to 'Delete', asset_manager_stage_path(stage), :confirm => 'Are you sure?', :method => :delete, :class => "lightBlue" %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @stages %>
<% permitted_to? :new, :asset_manager_stages do %>
  <% if Contract.find(:all).nil? %>
    <p>Please create at least one contract first: <%= link_to 'Manage contracts', asset_manager_contracts_path %></p>
  <% else %>
    <%= link_to 'New stage', new_asset_manager_stage_path , :class => "lightBlue" %>
  <% end %>
<% end %>
<%= link_to 'Back', asset_manager_assets_path, :class => "lightBlue" %>
