<% title 'List of Stages' %>

<table>
  <tr>
  </tr>

<% @stages.each do |stage| %>
  <tr>
    <td><%=h stage.id %></td>
    <td><%=h stage.title %></td>
    <td><%= link_to 'Show', asset_manager_stage_path(stage) %></td>
    <td><%= link_to 'Edit', edit_asset_manager_stage_path(stage) %></td>
    <td><%= link_to 'Delete', asset_manager_stage_path(stage), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @stages %>
<%= link_to 'New stage', new_asset_manager_stage_path %>