<h4>Step 1: Give Your Asset a Title</h4>
  <div>
    <%= f.text_field :title %>
  </div>
  
  <div id="captions">
    <!-- is intially empty -->
  </div>
  <%= link_to_function "Add a caption" do |page|
    page.insert_html :bottom, :captions, :partial => "caption", :object => Caption.new
  end %>
    
  <div id="tags">
    <!-- is initially empty -->
  </div>

  <%= render :partial => "tag", :collection => @tags %>

  <%= link_to_function "Add a tag" do |page|
    page.insert_html :bottom, :tags, :partial => "tag", :object => Tag.new
  end %>
  
  <h4>Step 2: Browse Your Files For The New Asset </h4>
  <div>
    <%= f.file_field :data %>
  </div>
