<% title "Update Asset"  %>
<h1>Edit Photo Properties</h1>

<% form_for([:asset_manager, @asset]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  
         <p>
    <%= f.label :country %>&nbsp;&nbsp;
    <select name="asset[country_id]">
    <% @countries.each do |country| %>
    <option value="<%= country.id %>"
    <%= ' selected' if country.id == @asset.country_id %>>
    <%= country.name %>
    </option>
    <% end %>
    </select>
    </p>
  
    <p>
    <%= f.label :tribe %><br />
    <select name="asset[tribe_id]">
  <% @tribes.each do |tribe| %>
  <option value="<%= tribe.id %>"
  <%= ' selected' if tribe.id == @asset.tribe_id %>>
  <%= tribe.name %>
  </option>
  <% end %>
  </select>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', asset_manager_asset_path(@asset) %> |
<%= link_to 'Back', asset_manager_assets_path %>
