<% title "Update Asset"  %>
<h1>Edit Photo Properties</h1>

<% form_for([:asset_manager, @asset], :html => { :method => :put })  do |f| %>
  <%= f.error_messages %>
  
  <%= @tags.each do |tag| %>  
      

  <%= render :partial => "fields", :locals => { :f => f } %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', asset_manager_asset_path(@asset) %> |
<%= link_to 'Back', asset_manager_assets_path %>
