<% title "Update Asset"  %>
<h1>Edit Photo Properties</h1>

<% form_for([:asset_manager, @asset]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', asset_manager_asset_path(@asset) %> |
<%= link_to 'Back', asset_manager_assets_path %>
