<% title "Image Gallery" %>
<div id="gallery_container">
  <% form_tag added_asset_manager_stages_path, :method => :put do %>
    <% @assets.each do |asset| %>
    <div id="image_gallery">
      <div class="thumbnail">
        <%= link_to image_tag(asset.data.url(:thumb)), asset_manager_asset_path(asset) %><br />
        <%= link_to asset.title, asset_manager_asset_path(asset) %>
        <%= check_box_tag "asset_ids[]", asset.id %>
      </div>
    <% end %>
  </div>
</div>
<div class="clear">
  <div>
    <%= will_paginate @assets %>
  </div>
  <div>
    <h2> Select a Stage to Add the Assets to </h2>
    <p><%= collection_select(:stage, :stage_id, Stage.all, :id, :title, {:prompt => true}) %>
    <p><%= submit_tag "Add To Stage" %></p>
    <% end %>
  </div>
  <div id="local_nav">
      <ul class="localNav">
        <li><%= link_to "Create new asset", :action => "new" %> |</li>
        <li><%= link_to 'Back', asset_manager_assets_path %></li>
      </ul>
    </div>
</div>

