<% title "Home Page" %>
<div id="standard_container">
  <h3>Welcome To Your Asset Archive</h3>
  <p> In your asset archive, you can edit and delete your current assets as well as add new ones.</p>
  <div class="table">
    <table>
      <tr>
        <th>Your Assets:</th>
      </tr>
    
      <% @assets.each do |asset| %>
        <tr>
          <td><%=h asset.title %></td>
          <td><%= link_to 'View', asset_manager_asset_path(asset) %></td>
          <td><%= link_to 'Edit', edit_asset_manager_asset_path(asset) %></td>
          <td><%= link_to 'Delete', asset_manager_asset_path(asset), :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="will_paginate_assetslist">
    <%= will_paginate @assets %>
  </div>
  <div id="local_nav">
    <ul class="localNav">
      <li><%= link_to 'New asset', new_asset_manager_asset_path %></li> |
      <li><%= link_to 'Image Gallery', :controller => "asset_manager/assets", :action => "gallery" %></li> |
      <li><%= link_to 'New Language', asset_manager_languages_path %></li> |
      <li><%= link_to "View Stages", asset_manager_stages_path %></li> |
      <li><%= link_to 'New Tribe', asset_manager_tribes_path %></li> |
    </ul>
  </div>
</div>