<% title "Home Page" %>
<div id="welcome_container">
  <h3>Welcome To Your Asset Archive</h3>
  <p> In your asset archive, you can edit and delete your current assets as well as add new ones.</p>
</div>
<div id="gallery_container">
	<% form_tag added_asset_manager_stages_path, :method => :put do %> 
    <% @assets.each do |asset| %>
  <div class="thumbnail">
    <%= link_to image_tag(s3_authenticated_url(asset, :thumb)), asset_manager_asset_path(asset) %><br />
    <%= link_to truncate(asset.title, 20, "..."), asset_manager_asset_path(asset), :class => "blueLink" %><br />
    <span id="local_nav">
      <ul class="localNav">
        <% permitted_to? :edit, :asset_manager_assets do %>
          <li><%= link_to 'Edit', edit_asset_manager_asset_path(asset) %></li>
        <% end %>
        <% permitted_to? :destroy, :asset_manager_assets do %>
          <li><%= link_to 'Delete', asset_manager_asset_path(asset), :confirm => "Are you sure?", :method => :delete %><li>
        <% end %>
        <li><%= check_box_tag "asset_ids[]", asset.id %></li>
      </ul>
    </span>
  </div>
    <% end %>
</div>
<div class="clear">  
  <div>
    <%= will_paginate @assets %>
  </div>  
  <div>
  <% if !session[:stage_id].nil? %>
    <p><%= Stage.find(session[:stage_id]).title %> <%= submit_tag "Add To Stage" %> <%= link_to "Select another stage", deselect_stage_asset_manager_assets_path, :method => :post %></p>
  <% end %>
  <% end %>
  <% if session[:stage_id].nil? %>  
    <% form_tag select_stage_asset_manager_assets_path, :method => :post do %>
      <h2> Select a Stage to Add the Assets to </h2>
      <p><%= collection_select(:stage, :id, Stage.all, :id, :title, {:prompt => true}) %>
      <%= submit_tag "Select stage" %></p>
    <% end %>
  <% end %>  
  </div>
</div>
<div id="local_nav">
    <ul class="localNav">
      <% permitted_to? :new, :asset_manager_assets do %>
        <li><%= link_to 'New asset', new_asset_manager_asset_path %></li> |
      <% end %>
      <li><%= link_to 'View Languages', asset_manager_languages_path %></li> |
      <li><%= link_to "View Stages", asset_manager_stages_path %></li> |
      <li><%= link_to 'New Country', asset_manager_countries_path %></li> |
      <li><%= link_to 'New Tribe', asset_manager_tribes_path %></li>
    </ul>
</div>
