<% title "Home Page" %>
<div id="welcome_container">
  <h3>Welcome to the DeltaGamma Media Manager!</h3>
<% if permitted_to? :new, :asset_manager_assets %>
  <p>As an Adminstrator, you can upload, edit, delete assets, as well as assign them to stages by checking the asset tick box.</p>
<% else %>
  <p>Feel free to browse our image archive.</p>
<% end %>
</div>
<div id="gallery_container">
	<% form_tag add_asset_to_stage_asset_manager_stages_path, :method => :put do %>
    <% @assets.each do |asset| %>
  <div class="thumbnail">
    <%= link_to image_tag(s3_authenticated_url(asset, :thumb)), asset_manager_asset_path(asset) %><br />
    <span class="lightBlue"><%= link_to truncate(asset.title, :length => 20, :omission => "..."), asset_manager_asset_path(asset), :class => "lightBlue" %></span><br />
    <% permitted_to? :new, :asset_manager_assets do %>
      <ul class="localNav">
          <li><%= link_to 'Edit', edit_asset_manager_asset_path(asset), :class => "lightBlue" %></li>
          <li><%= link_to 'Delete', asset_manager_asset_path(asset), :confirm => "Are you sure?", :method => :delete, :class => "lightBlue" %></li>
          <li><%= check_box_tag "asset_ids[]", asset.id, false, :id => "asset_id_#{asset.id}" %></li>
      </ul>
    <% end %>
  </div>
  <% end %>
</div>
<div class="clear">
  <%= will_paginate @assets %>
</div>
<div id="local_nav">
    <ul class="localNav">
    <% permitted_to? :new, :asset_manager_assets do -%>
        <li><%= link_to 'New asset', new_asset_manager_asset_path, :class => "lightBlue" %> |</li>
        <li><%= link_to 'View Languages', asset_manager_languages_path, :class => "lightBlue" %> |</li>
        <li><%= link_to 'Manage Countries', asset_manager_countries_path, :class => "lightBlue" %> |</li>
        <li><%= link_to 'Manage Tribes', asset_manager_tribes_path, :class => "lightBlue" %> |</li>
        <li><%= link_to 'Manage Contracts', asset_manager_contracts_path, :class => "lightBlue" %> | </li>
     <% end -%>
     <% if (current_user.class.to_s.eql? "AdminUser") || (!current_user.stages.empty?)  -%>
        <li><%= link_to "View Stages", asset_manager_stages_path %></li>
     <% end -%>
    </ul>
</div>
<% permitted_to? :add_asset_to_stage, :asset_manager_stages do -%>
  <div id="stage_background">
  <% if !session[:stage_id].nil? %>

    <p><%= Stage.find(session[:stage_id]).title %> <%= submit_tag "Add To Stage" %> <%= link_to "Select another stage", deselect_stage_asset_manager_assets_path, :method => :post, :class => "blueLink" %></p>

  <% end %>
<% end %>
<% end %>
<% permitted_to? :select_stage, :asset_manager_assets do %>
  <% if session[:stage_id].nil? %>
    <% form_tag select_stage_asset_manager_assets_path, :method => :post do %>
      <h3>Please select a stage to add assets to:</h3>
      <p><%= collection_select(:stage, :id, Stage.all, :id, :title, {:prompt => true}) %>
      <%= submit_tag "Select stage" %></p>
    <% end %>
  <% end %>
<% end %>
  </div>



