<% title "New Asset" %>
<h4>Adding A New Asset</h4>
<% form_for([:asset_manager, @asset], :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <h4>Step 1: Give Your Asset a Title</h4>
  <div>
    <%= f.text_field :title %>
  </div>
  
  <div id="captions">
    <!-- is intially empty -->
  </div>
  <%= link_to_function "Add a caption" do |page|
    page.insert_html :bottom, :captions, :partial => "caption", :object => Caption.new
  end %>
    
  <div id="tags">
    <!-- is initially empty -->
  </div>
  <%= link_to_function "Add a tag" do |page|
    page.insert_html :bottom, :tags, :partial => "tag", :object => Tag.new
  end %>
  
  <h4>Step 2: Browse Your Files For The New Asset </h4>
  <div>
    <%= f.file_field :data %>
  </div>

  <h4>Step 3: Click Upload To Submit Your Asset</h4>
  <div>
    <%= f.submit 'Upload' %>
  </div>
<% end %>
<div><%= link_to 'Back', asset_manager_assets_path %></div>
