<% title "New Asset" %>
<div id="new_asset_container">
  <h2 class="lightBlue">Please add a new asset</h2>
  <fieldset>
    <legend>Add asset</legend>
    <% form_for([:asset_manager, @asset], :html => { :multipart => true } ) do |f| %>
      <%= f.error_messages %>
      <div class="formRow">
        <span class="labelCol"><%= f.label :asset_title %></span>
        <%= f.text_field :title %>
      </div>
      <div class="formRow">
        <span class="labelCol"><%= f.label :browse_files %></span>
        <%= f.file_field :data %>
      </div>
      <div class="formSubmit">
        <%= f.submit 'Upload' %>
      </div>
    <% end %>
  </fieldset>
  <div class="localNav">
    <%= link_to 'Back', asset_manager_assets_path %>
  </div>
</div>