<% title "New Asset" %>
<div id="new_asset_container">
  <h2 class="lightBlue">Please add a new asset</h2>
  <fieldset>
    <legend>Add asset</legend>
    <% form_for([:asset_manager, @asset], :html => { :multipart => true } ) do |f| %>
      <%= f.error_messages %>
      <div class="formRow">
        <span class="labelCol"><%= f.label :asset_title %></span>
        <%= f.text_field :title %>
      </div>
      
         <div class="formRow">
    <span class="labelCol"><%= f.label :country %>&nbsp;&nbsp;
    <select name="asset[country_id]">
    <% @countries.each do |country| %>
    <option value="<%= country.id %>"
    <%= ' selected' if country.id == @asset.country_id %>>
    <%= country.name %>
    </option>
    <% end %>
    </select></span>
    </div>
      
   <div class="formRow">
    <span class="labelCol"><%= f.label :tribe %>&nbsp;&nbsp;
    <select name="asset[tribe_id]">
    <% @tribes.each do |tribe| %>
    <option value="<%= tribe.id %>"
    <%= ' selected' if tribe.id == @asset.tribe_id %>>
    <%= tribe.name %>
    </option>
    <% end %>
    </select></span>
    </div>
      
      <div class="formRow">
        <span class="labelCol"><%= f.label :browse_files %></span>
        <%= f.file_field :data %>
      </div>
      <div class="formSubmit">
        <%= f.submit 'Upload' %>
      </div>
    <% end %>
  </fieldset>
  <div class="localNav">
    <%= link_to 'Back', asset_manager_assets_path %>
  </div>
</div>