<% title "New Asset" %>
<div id="standard_container">
  <h2>Please add a new asset</h2>  
  <div>
    <fieldset>
      <legend>Add asset</legend>
      <% form_for([:asset_manager, @asset], :html => { :multipart => true } ) do |f| %>
          <noscript>
            <div id="errorExplanation">
              <h2>You have Javascript Disabled</h2>
              <p>Further details such as tags, credits and captions can be added in the asset page.</p>
            </div>
          </noscript>
        <%= f.error_messages %>
        <div class="formRow">
          <span class="labelCol"><%= f.label :asset_title %></span>
          <%= f.text_field :title %>
        </div>
        
     <div class="formRow">
    <span class="labelCol"><%= f.label :country %></span>
    <%= f.collection_select :country_id, Country.find(:all), :id, :name, :input_blank => false %>
   </div>
   
         <div class="ajax_options">
      <div id="tags">
      <!-- is initially empty -->
      </div>
      <div class="formRow"><span class="labelCol"><%= link_to_function "Add a tag", :class => "blueLink" do |page|
      page.insert_html :bottom, :tags, :partial => "tag", :object => Tag.new, :locals => { :prefix => "new" }
      end %></span>
      </div>
      <div id="credits">
      <!-- is initially empty -->
      </div>
      <div class="formRow"><span class="labelCol"><%= link_to_function "Add Credit", :class => "blueLink" do |page|
      page.insert_html :bottom, :credits, :partial => "credit", :object => Credit.new, :locals => { :prefix => "new" }
      end %></span>
      </div>
      
       <div id="tribes">
      <!-- is intially empty -->
      </div>
      <div class="formRow"><span class="labelCol"><%= link_to_function "Add a tribe", :class => "blueLink" do |page|
      page.insert_html :bottom, :tribes, :partial => "tribe", :object => Tribe.new, :locals => { :prefix => "new" }
      end %></span>
      </div>
      
         <div id="captions">
      <!-- is intially empty -->
      </div>
      <div class="formRow"><span class="labelCol"><%= link_to_function "Add a caption", :class => "blueLink" do |page|
      page.insert_html :bottom, :captions, :partial => "caption", :object => Caption.new, :locals => { :prefix => "new" }
      end %></span>
      </div>

        <%= javascript_tag "document.getElementById('ajax_options').style.display = 'inline';" %>
          <div class="formRow"><span class="labelCol"><%= f.label :browse_files %></span>
          <%= f.file_field :data %>
        </div>

          <div class="formSubmit">
            <%= f.submit 'Upload' %>
          </div>
        <% end %>

    </fieldset>
  </div>
  
  <div id="localNav">
    <div class="localNav">
      <li><%= link_to 'Back', asset_manager_assets_path %></li>
    </div>
  </div>
  
</div>

