<% title "Viewing #{truncate(@asset.title, 25, "...")}" %>
<!-- Please keep the tabulation consistent, it helps to see if you have missed closing tags so that css doesn't break, Cheers! R.G  -->

<div id="show_left_column">
	<div class="showPicAsset">
		<%= image_tag s3_authenticated_url(@asset, :large) %>
	</div>
  <div id="show_pic_nav">
    <div id="local_nav">
      <ul class="localNav">
        <% permitted_to? :edit, :asset_manager_assets do %>
          <li><%= link_to 'Edit asset details', edit_asset_manager_asset_path(@asset) %> |</li>
        <% end %>
        <li><%= link_to 'Back', asset_manager_assets_path %></li>
      </ul>
    </div>
  </div>
</div>

<div id="show_right_column">
	<ul class="picAttributes">
  	<li><strong>Title: </strong><%=h @asset.title %></li>
	  <li><strong>Tribe: </strong><%=h @asset.tribe.name %></li>
	  <li><strong>Country: </strong><%=h @asset.country.name %></li>
    <li><strong>File Name: </strong><%=h @asset.data_file_name %></li>
    <li><strong>File Type: </strong><%=h @asset.data_content_type %></li>
    <li><strong>Date Created: </strong><%=h @asset.created_at.strftime("%d %b %Y %H:%M") %></li>
    <li><strong>Last Updated: </strong><%=h @asset.updated_at.strftime("%d %b %Y %H:%M") %></li>
<% if @asset.exif? %>
  <% @exif.each_pair { |key, value| %>
    <li><strong><%= "#{key}: " %></strong><%= "#{value}" %></li>
  <% } %>
<% end %>
	  <li><strong>Captions:</strong>
	  <% permitted_to? :new, :asset_manager_captions do %>
  	  <%= link_to "Add caption", new_asset_manager_asset_caption_path(@asset), :class => "blueLink", :id => "to_be_hidden_with_js" %>
	  <% end %>
    </li>
    <% if @asset.captions.first.nil? %>
      <li class="picSubAttributes"><span class="lightGreySubAtts">There are currently no captions associated to this asset.</span></li>
    <% else %>
	    <% @asset.captions.each do |caption| %>
		    <li class="picSubAttributes"><%= h caption.content %> (<%= h caption.language.language %>)
		      <% permitted_to? :edit, :asset_manager_captions do %>
  		      <%= link_to "Edit", edit_asset_manager_asset_caption_path(@asset, caption), :class => "blueLink", :id => "to_be_hidden_with_js" %>
	        <% end %>
	        <% permitted_to? :destroy, :asset_manager_captions do %>
  		      <%= link_to 'Delete', asset_manager_asset_caption_path(@asset, caption), :method => :delete, :class => "blueLink", :id => "to_be_hidden_with_js" %>
		      <% end %>
		    </li>
		  <% end %>
		<% end %>
		</li>
	  <li><strong>Credits:</strong>
	  <% permitted_to? :new, :asset_manager_credits do %>
  	  <%= link_to "Add credit", new_asset_manager_asset_credit_path(@asset), :class => "blueLink", :id => "to_be_hidden_with_js" %>
	  <% end %>
    </li>
    <% if @asset.credits.first.nil? %>
      <li class="picSubAttributes"><span class="lightGreySubAtts">There are currently no credits associated to this asset.</span></li>
    <% else %>
		  <% @asset.credits.each do |credit| %>
		    <li class="picSubAttributes"><%=h credit.content %> (<%=h credit.language.language %>)
		      <% permitted_to? :edit, :asset_manager_credits do %>
		        <%= link_to "Edit", edit_asset_manager_asset_credit_path(@asset, credit), :class => "blueLink", :id => "to_be_hidden_with_js" %>
	        <% end %>
	        <% permitted_to? :destroy, :asset_manager_credits do %>
		        <%= link_to 'Delete', asset_manager_credit_path(credit), :confirm => 'Are you sure?', :method => :delete, :class => "blueLink", :id => "to_be_hidden_with_js" %>
	        <% end %>
        </li>
		  <% end %>
		<% end %>
    </li>
	  <li><strong>Tags:</strong>
	  <% permitted_to? :new, :asset_manager_tags do %>
  	  <%= link_to "Add tag", new_asset_manager_asset_tag_path(@asset), :class => "blueLink", :id => "to_be_hidden_with_js" %>
	  <% end %>
    </li>
    <li>
    <% if @asset.tags.first.nil? %>
      <li class="picSubAttributes"><span class="lightGreySubAtts">There are currently no tags associated to this asset.</span></li>
    <% else %>
  		<% @asset.tags.each do |tag| %>
  		  <li class="picSubAttributes"><%= h tag.content %>
  		    <% permitted_to? :edit, :asset_manager_tags do %>
  		      <%= link_to "Edit", edit_asset_manager_asset_tag_path(@asset, tag), :class => "blueLink", :id => "to_be_hidden_with_js" %>
		      <% end %>
		      <% permitted_to? :destroy, :asset_manager_tags do %>
  		      <%= link_to 'Delete', asset_manager_tag_path(tag), :confirm => 'Are you sure?', :method => :delete, :class => "blueLink", :id => "to_be_hidden_with_js" %>
		      <% end %>
        </li>
		  <% end %>
		<% end %>
    </li>
</div>

<%= javascript_tag render(:partial => 'hide.js.rjs') %>

