<% title "Login" %>
<div id="login_message_container">
  <h3> Welcome To Team Delta/Gamma's Media Manager!</h3>
  <p>To begin viewing adding and editing assets, please login or
    <%= link_to "register", new_asset_manager_user_path %> to continue.
  </p>
</div>
<div id="login_form_container">
      <fieldset>
          <legend>Login</legend>
          <div id="login_form">
          <% form_for @user_session do |f| %>
            <%= f.error_messages %>
            <div class="formRow">
              <span class="loginLabelCol"><%= f.label :username %></span>
              <%= f.text_field :username %>
            </div>
            <div class="formRow">
              <span class="loginLabelCol"><%= f.label :password %></span>
              <%= f.password_field :password %>
            </div>
            <div id="login_form_submit">
              <%= f.submit "Submit" %>
            </div>
          <% end %>
        </div>
      </fieldset>
</div>

